---
import ANGULAR from '@components/icons/angular.astro';
import ASTRO from '@components/icons/Astro.astro';
import BOOTSTRAP from '@components/icons/Bootstrap.astro';
import CHAKRAUI from '@components/icons/chakraui.astro';
import CSS3 from '@components/icons/CSS3.astro';
import FIGMAICON from '@components/icons/FigmaIcon.astro';
import FIREBASE from '@components/icons/firebase.astro';
import FRONT from '@components/icons/frontend.astro';
import GitHub from '@components/icons/GitHub.astro';
import HTML from '@components/icons/HTML.astro';
import IONIC from '@components/icons/Ionic.astro';
import JS from '@components/icons/JS.astro';
import NODE from '@components/icons/Node.astro';
import REACT from '@components/icons/React.astro';
import RESPONSIVE from '@components/icons/responsive.astro';
import SYSTEM from '@components/icons/SYSTEM.astro';
import TAILWINDCSS from '@components/icons/TailwindCSS.astro';
import TS from '@components/icons/typescript.astro';
import UIUX from '@components/icons/UIUX.astro';
import VERCEL from '@components/icons/vercel.astro';
import WEBFLOW from '@components/icons/Webflow.astro';
import PageHeading from '@components/Page-heading.astro';

const TAGS = {
  FIREBASE: {
    name: 'Firebase',
    icon: FIREBASE,
  },
  CHAKRAUI: {
    name: 'Chakra UI',
    icon: CHAKRAUI,
  },
  FIGMAICON: {
    name: 'Figma',
    icon: FIGMAICON,
  },
  GITHUB: {
    name: 'GitHub',
    icon: GitHub,
  },
  HTML5: {
    name: 'HTML5',
    icon: HTML,
  },
  CSS3: {
    name: 'CSS3',
    icon: CSS3,
  },
  REACT: {
    name: 'React',
    icon: REACT,
  },
  TAILWINDCSS: {
    name: 'Tailwind CSS',
    icon: TAILWINDCSS,
  },
  ANGULAR: {
    name: 'Angular',
    icon: ANGULAR,
  },
  ASTRO: {
    name: 'Astro',
    icon: ASTRO,
  },
  BOOTSTRAP: {
    name: 'Bootstrap',
    icon: BOOTSTRAP,
  },
  IONIC: {
    name: 'Ionic',
    icon: IONIC,
  },
  JS: {
    name: 'JavaScript',
    icon: JS,
  },
  NODE: {
    name: 'NodeJS',
    icon: NODE,
  },
  WEBFLOW: {
    name: 'Webflow',
    icon: WEBFLOW,
  },
  VERCEL: {
    name: 'Vercel',
    icon: VERCEL,
  },
  TS: {
    name: 'TypeScript',
    icon: TS,
  },
  DESIGNSYSTEM: {
    name: 'Sistemas de Diseño',
    icon: SYSTEM,
  },
  UXUI: {
    name: 'Diseño UX/UI',
    icon: UIUX,
  },
  FRONTEND: {
    name: 'Frontend',
    icon: FRONT,
  },
  RESPONSIVE: {
    name: 'Diseño Responsivo',
    icon: RESPONSIVE,
  },
};

const PROJECTS = [
  {
    title: 'Sistema de Control y Registro de Operaciones Aereas SiCROA',
    description:
      'Rediseño de Interfaces del sistema, Diseño de Sistema de Diseño Para SiCROA, y desarrollo frontend con React, TailwindCSS, ShadCN.',
    tags: [
      TAGS.REACT,
      TAGS.TAILWINDCSS,
      TAGS.DESIGNSYSTEM,
      TAGS.UXUI,
      TAGS.FRONTEND,
    ],
    image: '',
    link: '#',
    figma: '#',
  },
  {
    title: 'Taaniilaaz y Muñeco de Chocolate',
    description:
      'Rediseño completo de interfaz de usuario (UI/UX) y diseño de identidad visual.',
    tags: [TAGS.FIGMAICON, TAGS.UXUI, TAGS.RESPONSIVE],
    image: '/projects/muneco-chocolate.webp',
    link: '#',
  },
  {
    title: 'ValleMio.shop',
    description:
      'Creación de sitio web comercial, participando en la arquitectura web y diseño UI.',
    tags: [TAGS.FIGMAICON, TAGS.UXUI, TAGS.FRONTEND],
    image: '/projects/vallemio.webp',
    link: '#',
  },
  {
    title: 'Spotify Clone',
    description:
      'Réplica funcional de la interfaz de Spotify con tecnologías modernas.',
    tags: [TAGS.ASTRO, TAGS.REACT, TAGS.TAILWINDCSS, TAGS.FRONTEND],
    image: '/projects/spotify-clone.webp',
    link: '#',
    github: 'https://github.com/Francisco-0510',
  },
  {
    title: 'VicWithGG Portafolio Web',
    description: 'Portafolio personal con Astro, Tailwind CSS y Vercel.',
    tags: [
      TAGS.HTML5,
      TAGS.REACT,
      TAGS.ASTRO,
      TAGS.TAILWINDCSS,
      TAGS.VERCEL,
      TAGS.GITHUB,
    ],
    link: '#',
    image: '/projects/vicwithgg-cover.webp',
    github: 'https://github.com/Francisco-0510/vicwithgg-portfolio',
  },
  {
    title: 'VGG Movies Search',
    description:
      'App para explorar y guardar películas favoritas, usando Firebase.',
    tags: [TAGS.REACT, TAGS.CHAKRAUI, TAGS.FIREBASE, TAGS.VERCEL, TAGS.GITHUB],
    image: '/projects/vgg-movie.webp',
    link: 'https://vgg-movie-search.vercel.app/',
    github: 'https://github.com/Francisco-0510/movie-app-react',
  },
  {
    title: 'CV Minimalista (Web y PDF)',
    description: 'CV minimalista en Web y PDF, configurable con JSON.',
    tags: [TAGS.FIGMAICON, TAGS.DESIGNSYSTEM, TAGS.UXUI, TAGS.RESPONSIVE],
    image: '/projects/thumbnail-cv.webp',
    link: 'https://vicwithgg.netlify.app/',
    github: 'https://github.com/Francisco-0510/minimalist-portfolio',
  },
  {
    title: 'VG Design UI Kit',
    description: 'Kit de diseño UI/UX en Figma.',
    tags: [TAGS.FIGMAICON, TAGS.DESIGNSYSTEM, TAGS.RESPONSIVE, TAGS.UXUI],
    image: '/projects/thumbnail-vg.webp',
    link: 'https://www.figma.com/community/file/1273539501651863397/vg-design-ui-kit-v1-10',
    figma:
      'https://www.figma.com/community/file/1273539501651863397/vg-design-ui-kit-v1-10',
  },
  {
    title: 'Hospital Ángel del Mar',
    description: 'Rediseño UI/UX e implementación en Webflow.',
    tags: [
      TAGS.FIGMAICON,
      TAGS.DESIGNSYSTEM,
      TAGS.WEBFLOW,
      TAGS.UXUI,
      TAGS.RESPONSIVE,
    ],
    image: '/projects/thumbnail-ham.webp',
    link: 'https://hospitalangeldelmar.com.mx/',
  },
  {
    title: 'Seguridad Privada BETAJ',
    description: 'Diseño de interfaces y desarrollo en Webflow.',
    tags: [TAGS.HTML5, TAGS.REACT, TAGS.WEBFLOW],
    image: '/projects/thumbnail-betaj.webp',
    link: 'https://betaj.mx/',
  },
  {
    title: 'Portafolio braquetes.com.mx',
    description: 'Portafolio web para programador backend.',
    tags: [TAGS.HTML5, TAGS.BOOTSTRAP],
    image: '/projects/coverBR.webp',
    link: 'https://www.braquetes.com.mx/#/',
  },
  {
    title: 'Diseño de Sistema Web de Gestión de Actividades',
    description: 'Investigación y diseño UX/UI para sistema web.',
    tags: [TAGS.FIGMAICON, TAGS.UXUI, TAGS.DESIGNSYSTEM],
    image: '/projects/thumbnail-tutoriasDesign.webp',
    link: 'https://www.figma.com/community/file/1205620325712950079',
    figma: 'https://www.figma.com/community/file/1205620325712950079',
  },
  {
    title: 'Desarrollo Front-end de Sistema Web de Gestión de Actividades',
    description: 'Desarrollo frontend con Ionic para sistema UTVCO.',
    tags: [TAGS.HTML5, TAGS.IONIC, TAGS.TS],
    image: '/projects/thumbnail-tutoriasDev.webp',
    link: 'https://github.com/Francisco-0510/plataformaEstadias',
    github: 'https://github.com/Francisco-0510/plataformaEstadias',
  },
  {
    title: 'Rediseño App HealthCheck',
    description: 'Rediseño de app HealthCheck para dispositivos móviles.',
    tags: [TAGS.FIGMAICON, TAGS.UXUI, TAGS.DESIGNSYSTEM],
    image: '/projects/thumbnail-rediseño.webp',
    figma: 'https://www.figma.com/community/file/1283078639346112182',
  },
  {
    title: 'App Healthcheck - Smartwatch y Mobile',
    description: 'App de seguimiento de salud para móviles y wearables.',
    tags: [TAGS.FIGMAICON, TAGS.UXUI],
    image: '/projects/thumbnail-healtcheck.webp',
    link: 'https://www.figma.com/community/file/1270644133161232117',
    figma: 'https://www.figma.com/community/file/1270644133161232117',
  },
  {
    title: 'Arquitectura y UX de app HealthCheck',
    description: 'Mapas de navegación y wireflows para HealthCheck.',
    tags: [TAGS.FIGMAICON, TAGS.UXUI],
    image: '/projects/thumbnail-arqH.webp',
    link: 'https://www.figma.com/community/file/1125658163306261422',
    figma: 'https://www.figma.com/community/file/1125658163306261422',
  },
  {
    title: 'BIT Tournament 2023',
    description: 'Diseño UI y desarrollo frontend en Angular.',
    tags: [TAGS.ANGULAR, TAGS.TS, TAGS.FRONTEND],
    image: '/projects/thumbnail-BIT.webp',
    link: 'https://github.com/Francisco-0510/BIT-TOURNAMENT-2023',
    figma:
      'https://www.figma.com/community/file/1165464149403530205/diseno-de-interfaces-bit-tournament-2023',
    github: 'https://github.com/Francisco-0510/BIT-TOURNAMENT-2023',
  },
  {
    title: 'User Story Mapping - BIT TOURNAMENT 2023',
    description:
      'Historias de usuario y mapas de navegación para BIT Tournament.',
    tags: [TAGS.FIGMAICON, TAGS.UXUI],
    image: '/projects/thumbnail-storyBIT.webp',
    link: 'https://www.figma.com/community/file/1183832840468301220/user-story-mapping-bit-tournament-2023',
    figma:
      'https://www.figma.com/community/file/1183832840468301220/user-story-mapping-bit-tournament-2023',
  },
  {
    title: 'Sistema Venta de Boletos La Solteca',
    description: 'Diseño y desarrollo de sistema de venta de boletos.',
    tags: [TAGS.ANGULAR, TAGS.TS, TAGS.UXUI],
    image: '/projects/thumbnail-soltecaDesign.webp',
    link: 'https://xd.adobe.com/view/5b7241f4-f464-4276-69b2-89a327b55523-2d43/',
    github: 'https://github.com/Francisco-0510/Solteca',
  },
];
---

<div class="space-y-8">
  <PageHeading
    title="Algunos de mis Proyectos"
    description="Estos son algunos de los proyectos que he hecho a lo largo de mi carrera como Diseñador UX/UI y como Desarrollador Web."
  />

  <section class="col-span-12 gap-4 lg:col-span-9">
    <ul
      class="relative grid gap-4 container grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
      {
        PROJECTS.map(
          ({ title, image, description, tags, link, github, figma }) => (
            <li>
              <div
                id="project-card"
                class="rounded-md group relative flex h-full flex-col overflow-hidden border border-[#e4e4e7] dark:border-[#3f3f4666] bg-[#ffffff] dark:bg-[#09090b] text-card-foreground transition-all duration-300 ease-out hover:shadow-lg dark:hover:bg-zinc-800/50 group-hover:scale-100 group-hover:opacity-100 cursor-pointer">
                {
                  // CARD HEADER IMAGE
                  <div class="z-10 block cursor-pointer">
                    <img
                      src={image}
                      alt={`Miniatura del proyecto ${title}`}
                      class="object-cover object-center w-full h-72 transition duration-500 md:h-40 md:object-top lg:h-44 md:scale-110 md:group-hover:scale-105"
                      loading="lazy"
                    />
                  </div>
                }
                <div class="flex flex-col p-6 pb-0 space-y-1.5 flex-grow">
                  <div class="flex justify-between">
                    <a href={link} class="hover:underline">
                      <h3 class="max-md:text-base font-semibold dark:text-white text-base text-balance line-clamp-2 text-foreground leading-tight">
                        {title}
                      </h3>
                    </a>

                    <div class="flex gap-1">
                      {github && (
                        <a
                          href={github}
                          rel="noreferrer"
                          target="_blank"
                          title="Ver en GitHub">
                          <GitHub />
                        </a>
                      )}
                      {figma && (
                        <a
                          href={figma}
                          rel="noreferrer"
                          target="_blank"
                          title="Ver en Figma">
                          <FIGMAICON />
                        </a>
                      )}
                    </div>
                  </div>
                  <p class="text-xs p-0 text-foreground line-clamp-2 dark:text-white/80 mt-1">
                    {description}
                  </p>
                  <div class="px-0 pt-4 pb-3 flex justify-between items-end mt-auto w-full">
                    <ul class="flex flex-row flex-wrap gap-2">
                      {tags.map((tag) => (
                        <li>
                          <div class="inline-flex items-center rounded-full border-[1px] py-1 px-2.5 text-xs font-semibold focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 bg-transparent text-foreground border-[#e2e8f0] dark:bg-border gap-1 dark:text-white">
                            <tag.icon class="size-3" />
                            <span>{tag.name}</span>
                          </div>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          ),
        )
      }
    </ul>
  </section>
</div>
<style>
  h1 {
    /* background-color: #e4e4e7; */
    background-color: #3f3f4666;
  }
</style>
