---
import stack from '@collections/stack.json';
const { id } = Astro.props;
---

<section
  class="w-full h-full"
  id={id}
>
  <div class="max-w-2xl">
    <h3 class="text-pretty font-bold text-3xl dark:text-neutral-100">
      Mis <span class="text-[#1D64FF] dark:text-neutral-100">
        habilidades técnicas</span
      > 🚀
    </h3>
    <p class="mt-8 text-base text-pretty text-black dark:text-white xs:text-lg">
      Como Diseñador UX/UI y Desarrollador Web, utilizo un stack versátil de
      <a
        class="font-medium text-blue-500 hover:text-blue-700 dark:hover:text-blue-600"
        href="https://github.com/gothinkster/realworld"
        target="_blank"
        >lenguajes</a
      >, <a
        class="font-medium text-blue-500 hover:text-blue-700 dark:hover:text-blue-600"
        href="https://github.com/gothinkster/realworld"
        target="_blank"
        >frameworks</a
      > y <a
        class="font-medium text-blue-500 hover:text-blue-700 dark:hover:text-blue-600"
        href="https://github.com/gothinkster/realworld"
        target="_blank"
        >herramientas</a
      > para crear experiencias digitales excepcionales, centradas en el usuario
      y optimizadas para cada proyecto.
    </p>
  </div>

  <div class="my-16 space-y-28 sm:mt-20">
    <!-- LANGUAGES SKILLS CONTAINER -->
    <div
      class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40"
    >
      <div class="grid max-w-4xl grid-cols-1 gap-y-8 md:grid-cols-4">
        <h2
          class="text-sm font-semibold capitalize text-neutral-600 dark:text-neutral-300"
        >
          Lenguajes
        </h2>
        <div
          class="flex flex-row flex-wrap gap-x-8 gap-y-14 md:col-span-3 md:gap-x-12"
        >
          {
            stack.languages.map((language) => {
              return (
                <button
                  data-state="closed"
                  class="cursor-default"
                >
                  <article class="group relative flex w-[150px] items-center gap-x-4 sm:min-w-[175px] sm:max-w-none">
                    <div
                      id="overlay"
                      class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 rounded-2xl bg-slate-900/5 dark:opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 overflow-hidden"
                    >
                      <div
                        id="shadow-overlay"
                        class="absolute left-0 top-20 h-[40px] w-[40px] opacity-0 blur-2xl transition-opacity duration-200 ease-in-out group-hover:opacity-100 bg-gradient-to-r from-[#0d6fff] to-[#0d6fff]"
                      />
                    </div>
                    <img
                      src={language.image}
                      alt=""
                      class="h-10 w-10 duration-300 group-hover:-rotate-45 "
                    />
                    <div class="z-10 flex flex-col">
                      <p class="text-start text-sm font-bold text-black dark:text-neutral-50 ">
                        {language.name}
                      </p>
                      <p class="text-start text-xs text-black dark:text-neutral-200">
                        {language.type}
                      </p>
                    </div>
                  </article>
                </button>
              );
            })
          }
        </div>
      </div>
    </div>
    <!-- FRONTEND SKILLS CONTAINER -->
    <div
      class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40"
    >
      <div class="grid max-w-4xl grid-cols-1 gap-y-8 md:grid-cols-4">
        <h2
          class="text-sm font-semibold capitalize text-neutral-600 dark:text-neutral-300"
        >
          Frameworks
        </h2>
        <div
          class="flex flex-row flex-wrap gap-x-8 gap-y-14 md:col-span-3 md:gap-x-12"
        >
          {
            stack.frontend.map((frontend) => {
              return (
                <button
                  data-state="closed"
                  class="cursor-default"
                >
                  <article class="group relative flex w-[150px] items-center gap-x-4 sm:min-w-[175px] sm:max-w-none">
                    <div
                      id="overlay"
                      class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 rounded-2xl bg-slate-900/5 dark:opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-800/50 sm:-inset-x-6 overflow-hidden"
                    >
                      <div
                        id="shadow-overlay"
                        class="absolute left-0 top-20 h-[40px] w-[40px] opacity-0 blur-2xl transition-opacity duration-200 ease-in-out group-hover:opacity-100 bg-gradient-to-r from-[#019ae9] to-[#00dfd8]"
                      />
                    </div>
                    <img
                      src={frontend.image}
                      alt=""
                      class="h-10 w-10 duration-300 group-hover:-rotate-45 "
                    />
                    <div class="z-10 flex flex-col">
                      <p class="text-start text-sm font-bold text-black dark:text-neutral-50">
                        {frontend.name}
                      </p>
                      <p class="text-start text-xs text-black dark:text-neutral-200">
                        {frontend.type}
                      </p>
                    </div>
                  </article>
                </button>
              );
            })
          }
        </div>
      </div>
    </div>
    <!-- TOOLS SKILLS CONTAINER -->
    <div
      class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40"
    >
      <div class="grid max-w-4xl grid-cols-1 gap-y-8 md:grid-cols-4">
        <h2
          class="text-sm font-semibold capitalize text-neutral-600 dark:text-neutral-300"
        >
          Herramientas
        </h2>
        <div
          class="flex flex-row flex-wrap gap-x-12 gap-y-14 md:col-span-3 md:gap-x-12"
        >
          {
            stack.tools.map((tools) => {
              return (
                <button
                  data-state="closed"
                  class="cursor-default"
                >
                  <article class="group relative flex w-[150px] items-center gap-x-4 sm:min-w-[175px] sm:max-w-none">
                    <div
                      id="overlay"
                      class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 rounded-2xl bg-slate-900/5 dark:bg-slate-100/5 dark:opacity-0 transition group-hover:scale-100 group-hover:opacity-100  sm:-inset-x-6 overflow-hidden"
                    >
                      <div
                        id="shadow-overlay"
                        class="absolute left-0 top-20 h-[40px] w-[40px] opacity-0 blur-2xl transition-opacity duration-200 ease-in-out group-hover:opacity-100 bg-gradient-to-r from-[#019ae9] to-[#00dfd8]"
                      />
                    </div>
                    <img
                      src={tools.image}
                      alt=""
                      class="h-10 w-10 duration-300 group-hover:-rotate-45 "
                    />
                    <div class="z-10 flex flex-col">
                      <p class="text-start text-sm font-bold text-black dark:text-neutral-50">
                        {tools.name}
                      </p>
                      <p class="text-start text-xs text-black dark:text-neutral-200">
                        {tools.type}
                      </p>
                    </div>
                  </article>
                </button>
              );
            })
          }
        </div>
      </div>
    </div>
  </div>
</section>
