---
import experiences from "@collections/experiences.json";
import AboutExperience from "@components/about-experience.astro";
import Certificate from "@components/Certificate.astro";
import Figma from "@components/icons/Figma.astro";
import GitHub from "@components/icons/GitHub.astro";
import Linkedin from "@components/icons/Linkedin.astro";
import Mail from "@components/icons/Mail.astro";
import Phone from "@components/icons/Phone.astro";
import XT from "@components/icons/X.astro";
import PageHeading from "@components/Page-heading.astro";
import Layout from "@layouts/Layout.astro";
import Briefcase from "@components/icons/Briefcase.astro";
import UserIcon from "@components/icons/user.astro";
import AcademicCap from "@components/icons/academic-cap.astro";
import Education from "@components/Education.astro";
---

<!-- HEADER ABOUT ME 
<section class="scroll-mt-20  xs:px-6 sm:px-8">
  <div class="group relative border p-6 gap-y-7">
    <div class="absolute left-3 top-0 flex w-full justify-center">
      <div
        class="left-0 h-[1px] rounded-full bg-gradient-to-r from-[rgba(17,17,17,0)] via-sky-500 to-[rgba(17,17,17,0)] transition-all group-hover:animate-border-width">
      </div>
    </div>
   
    <div class="">
      {
        experiences.map((experience, loop) => {
          return (
            <>
              {loop == 0 || loop == 1 ? (
                <AboutExperience
                  dates={experience.dates}
                  role={experience.role}
                  company={experience.company}
                  description={experience.description}
                  logo={experience.logo}
               /*    skills={experience.skills} */
                />
              ) : (
                <AboutExperience
                  dates={experience.dates}
                  role={experience.role}
                  company={experience.company}
                  description={experience.description}
                  logo={experience.logo}
                />
              )}
            </>
          );
        })
      }
    </div>
  </div>
</section>-->
