---
const { logo, dates, role, company, description, skills } = Astro.props;
---

<div
  class="relative flex flex-col justify-start pl-12 pb-10 border-l border-gray-300 dark:border-neutral-700"
>
  <div
    class="absolute top-0 left-0 z-40 flex items-center justify-center -translate-x-1/2 bg-white border rounded-full w-14 h-14 dark:bg-neutral-950 border-neutral-300 dark:border-neutral-700"
  >
    <img src={logo} alt={company} class="rounded-full" />
  </div>

  <header class="mb-4">
    <h3
      class="text-pretty text-base font-header font-semibold transition duration-200 text-neutral-900 dark:text-neutral-50 lg:group-hover:text-primary"
    >
      <div
        aria-label='Enlace a "Profesor de Programaci칩n para Ni침os y Adolescentes at Codelearn" (Se abrir치 en una nueva pesta침a)'
        class="group"
      >
        <span>
          <span class="absolute -inset-4 hidden rounded-lg lg:block"></span>
          <span>
            {role}
          </span>
        </span>
      </div>
    </h3>
    <div
      class="text-pretty text-sm font-semibold text-neutral-600 dark:text-neutral-100 transition-colors duration-200"
    >
      <span>{company}</span>
      <span class="opacity-50"> | </span>
      <span>
        <time>{dates}</time>
      </span>
    </div>
  </header>
  <div class="mb-4">
    <p class="text-sm text-pretty dark:text-neutral-200">
      {description}
    </p>
  </div>
  <footer class="flex flex-wrap gap-2"></footer>
</div>
