---
import certificates from '@collections/certificates.json';
---

<ol class="mt-6 space-y-5">
  {
    certificates.map(({ time, title, certificationName, img }) => (
      <li class="flex gap-4">
        <div class="relative flex h-10 w-10 flex-none items-center justify-center rounded-full bg-white shadow-sm shadow-zinc-600/50 ring-1 ring-zinc-900/5 dark:ring-neutral-800 dark:bg-neutral-900 overflow-hidden p-0.5">
          <img
            src={img}
            alt={`Logo de certificación de ${certificationName}`}
            class="h-full w-full object-contain rounded-full"
            loading="lazy"
            decoding="async"
          />
        </div>

        <div class="flex flex-col gap-y-1">
          <span class="text-xs text-neutral-500 dark:text-neutral-400 tracking-widest uppercase">
            {time}
          </span>
          <div class="text-base font-semibold tracking-tight text-neutral-900 dark:text-neutral-100">
            {title}
          </div>
          <div class="z-10 text-pretty text-sm font-medium text-blue-600 dark:text-blue-400">
            {certificationName}
          </div>
        </div>
      </li>
    ))
  }
</ol>
