---
interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

let metadata = {
  title: 'VicWithGG Portfolio Web',
  description:
    'Apassionado Diseñadoor UX-UI y Desarrollador Web comprometido con crear experiencias digitales que destaquen.',
  url: 'https://vicwithgg-designer.netlify.app/',
  image: 'https://vicwithgg-designer.netlify.app/assets/images/me.jpg',
  twitterHandle: '@VicWithGG1',
  keywords:
    'UX/UI Design, web development, web design, responsive design, frontend development, website creation, creative projects, freelance web developer, portfolio web design, digital design, custom web solutions, Francisco Victorico Aguirre Jimenez, VicWithGG, Francisco Aguirre Jimenez, Oaxaca',
  author: 'Francisco Victorico Aguirre Jimenez',
};
---
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/iconVGG.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metadata.description} />

    <link rel="canonical" href={metadata.url} />
    <meta property="og:title" content={metadata.title} />
    <meta property="og:description" content={metadata.description} />
    <meta property="og:url" content={metadata.url} />
    <meta property="og:image" content={metadata.image} />
    <meta name="twitter:site" content={metadata.twitterHandle} />
    <meta name="twitter:title" content={metadata.title} />
    <meta name="twitter:description" content={metadata.description} />
    <meta name="twitter:image" content={metadata.image} />
    <meta name="twitter:creator" content={metadata.twitterHandle} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:url"
      content="https://vicwithgg-designer.netlify.app/"
    />
    <meta name="twitter:domain" content="vicwithgg-designer.netlify.app" />
    <meta property="og:type" content="wensite" />
    <meta property="og:site_name" content={metadata.title} />
    <meta name="keywords" content={metadata.keywords} />
    <meta name="author" content={metadata.author} />
    <meta name="description" content={metadata.description} />

    <title>{metadata.title}</title>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Francisco Victorico Aguirre Jimenez",
        "url": "https://vicwithgg-designer.netlify.app/",
        "image": "/public/assets/images/me.jpg",
        "sameAs": [
          "https://vicwithgg-designer.netlify.app/"
          "https://x.com/VicWithGG1",
          "https://github.com/Francisco-0510",
          "https://www.linkedin.com/in/vicwith-gg/",
          "https://www.facebook.com/vicwithGG",
          "https://www.tiktok.com/@vicwithgg",
          "https://www.figma.com/@vicwithgg",
          "https://www.instagram.com/vicwithgg/"
        ]
      }
    </script>

    <script is:inline>
      if (typeof Storage !== 'undefined') {
        if (
          localStorage.getItem('dark_mode') &&
          localStorage.getItem('dark_mode') == 'true'
        ) {
          document.documentElement.classList.add('dark');
        }
      }
    </script>
    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>
    <script src="../assets/css/main.css"></script>
