---
import Seo from '@components/Seo.astro';
import { ViewTransitions } from 'astro:transitions';

const { title, description, image, frontmatter, robots } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <link
    rel="icon"
    type="image/svg+xml"
    href="/iconVGG.svg"
  />
  <meta
    name="viewport"
    content="width=device-width"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />
  <title>{title}</title>
  <meta
    name="description"
    content={description}
  />

  <Seo
    {title}
    {description}
    url={Astro.url}
    {image}
    {frontmatter}
    {robots}
  />

  <ViewTransitions />
  <script is:inline>
    if (typeof Storage !== 'undefined') {
      if (
        localStorage.getItem('dark_mode') &&
        localStorage.getItem('dark_mode') == 'true'
      ) {
        document.documentElement.classList.add('dark');
      }
    }
  </script>
  <style>
    .prose img {
      border-radius: 20px;
    }
  </style>
  <script src="../assets/css/main.css"></script>
</head>
